@model EventQR.Models.Event

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_OrganizerLayout.cshtml";
    ViewBag.activeTabName = "Events";
}
<div class="content">
    <div class="card">
        <div class="card-header">
            <h3>Create New Event</h3>
            <hr />
            <form asp-action="Create">
                <div class="col-md-12">
                    <div asp-validation-summary=All class="text-danger"></div>
                    <input type="hidden" asp-for="UniqueId" />
                    <input type="hidden" asp-for="EventOrganizerId" /> 
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label asp-for="Title" class="control-label">Event Title </label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 form-group">
                        <label asp-for="StartDate" class="control-label">Start Date</label>
                        <input asp-for="StartDate" class="form-control" placeholder="dd-MM-yyyy" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>

                    <div class="col-md-4 form-group">
                        <label asp-for="EndDate" class="control-label">End Date </label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6  form-group">
                        <label asp-for="Venue" class="control-label"> Venue (Address) </label>
                        <textarea asp-for="Venue" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Venue" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>


                <div class="row text-center">
                    <div class="col-sm-12 form-group">
                        <label asp-for="IsSubEvents" class="control-label">  Include Sub Events </label><br />
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <input class="form-check-input" asp-for="IsSubEvents" onchange="CheckIfMealsIncluded(this)" type="checkbox">
                        <label class="form-check-label" for="flexCheckChecked">
                            Yes
                        </label>
                    </div>


                </div>
                <br /><hr />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-center">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function CheckIfMealsIncluded(thisCheck) {
            //if (thisCheck.checked)
            //    $('#MaxAllowMealCountDiv').show();
            //else {
            //    $('#MaxAllowMealCountDiv').hide();
            //    $('#MaxAllowedMealsCount').val(0);
        }
                }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} 
