 
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BPST-Event- @ViewData["ThisEvent"]</title>

    <link rel="stylesheet" href="/uitemplate/scannerui/css/bootstrap.min.css">
    <link rel="stylesheet" href="/uitemplate/scannerui/css/unicons.css">
    <link rel="stylesheet" href="/uitemplate/scannerui/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/uitemplate/scannerui/css/owl.theme.default.min.css"> 
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="\uitemplate\scannerui\css/tooplate-style.css">
    <!-- 
    Tooplate 2115 Marvel 
    https://www.tooplate.com/view/2115-marvel 
    -->
</head>
<body>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.html"><i></i> BPST-Events</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a asp-action="GuestList" asp-controller="CheckIn" asp-area="Scanner" class="nav-link"><span data-hover="GuestList">Guest List</span></a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="EventDetails" asp-controller="CheckIn" asp-area="Scanner" class="nav-link"><span data-hover="EventsDetails">Event Details</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/Account/LogOut" class="nav-link"><span data-hover="Log Out">Log Out</span></>
                    </li>
                 
                </ul>
                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                                 
                        <i class="fa fa-user "> </i>
                        @User.Identity.Name
                         
                        
                    </div>
                </ul>

            
                            
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>


    <hr />
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
    <!-- FOOTER -->
    <footer class="footer py-5">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <p class="copyright-text text-center">Copyright &copy; @System.DateTime.Now.Year <a href="https://bitprosofttech.com/" target="_blank">  BPST </a>  . All rights reserved</p>
                    <p class="copyright-text text-center">Designed by <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
                </div>

            </div>
        </div>
    </footer>

    <script src="/uitemplate/scannerui/js/jquery-3.3.1.min.js"></script>
    <script src="/uitemplate/scannerui/js/popper.min.js"></script>

    <script src="/uitemplate/scannerui/js/bootstrap.min.js"></script>
    <script src="/uitemplate/scannerui/js/Headroom.js"></script>
    <script src="/uitemplate/scannerui/js/jQuery.headroom.js"></script>
    <script src="/uitemplate/scannerui/js/owl.carousel.min.js"></script>
    <script src="/uitemplate/scannerui/js/smoothscroll.js"></script>
    <script src="/uitemplate/scannerui/js/custom.js"></script>

</body>
</html>