@model EventQR.Models.GuestCheckIn

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_TicketScannerLayout.cshtml";

}

@await Html.PartialAsync("_eventPartial");

<div class="container">
    <div class="col-sm-12">
        <table class="table" border="1" id="tblGuestList">
            <thead>
                <tr>
                    <th>SubEventName</th>
                    <th>StartDateTime</th>
                    <th>EndDateTime</th>
                    <th> Allow CheckIn</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Guest.SubEvents == null || Model.Guest.SubEvents.Count == 0)
                {
                    <p> Invitation didn't found </p>
                }
                else foreach (var subEvent in Model.Guest.SubEvents)
                    {
                        <tr>
                            <td>@subEvent.SubEventName</td>
                            <td>@subEvent.StartDateTime </td>
                            <td>@subEvent.EndDateTime</td>
                            <td> <input name="@subEvent.UniqueId" type="checkbox" /></td>
                        </tr>
                    }

            </tbody>
        </table>
    </div>
</div>


