@model EventQR.Models.GuestCheckIn

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_TicketScannerLayout.cshtml";

}

@await Html.PartialAsync("_eventPartial");

<div class="container  text-center">

    <form>
    @foreach (var subEvent in Model.Guest.SubEvents)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Events</h5>
                <ul>
                    <li> @subEvent.SubEventName</li>
                    <li> @subEvent.CreatedDate</li>
                    <li> @subEvent.EndDateTime</li>
                </ul>
                <input class="btn" name="thisEvent" type="radio" /> checked
            </div>
        </div>
        <br />
    }
        <input type="submit" class="btn btn-primary" value="submit">


    </form>
</div> 