@model EventQR.Models.GuestCheckIn

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_TicketScannerLayout.cshtml";
   // ViewBag.activeTabName = "_TokenScannerLayout";

}


@* 
<h2>@Model.Event.Title</h2>


<h2>@Model.Event.SubEvents</h2>

 *@