@model EventQR.Models.Organizer

@{
    ViewData["Title"] = "ChangeLogInId";

    Layout = "~/Views/Shared/_OrganizerLayout.cshtml";
    ViewBag.activeTabName = "ChangeLogInId";
    EventQR.Models.Organizer thisEvent = ViewBag.ActiveEvent;
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Login Id</title>
</head>
<body>


    <div class="container">
        <div class="row-md-15">
            <div class="col-md-8">

                <div class="card">
                    <div class="card-header text-center">
                        <h2>Change Login Id</h2>
                    </div>

    <form id="ExistingLoginId" method="post">
                    <div class="card-body">
                        <div class="col-sm-12">
                            <label for="ExistingLoginId">Existing Login Id:</label><br>
                                <input type="text" id="ExistingLoginId" name="ExistingLoginId" placeholder="Existing Login Id" class="form-control" required><br><br>

            </div>
            <div class="col-sm-12">

                            <label for="NewLoginId">New Login Id:</label><br>
                                <input type="text" id="NewLoginId" name="NewLoginId" placeholder="New Login Id" class="form-control" required><br><br>

            </div>
            <div class="col-sm-12">
                            <input type="submit" class="btn btn-info" value="Update">
            </div>
        </div>
       
       
    </form>
    </div>
    </div>
    </div>
    </div>
</body>
</html>
