@model EventQR.Models.Organizer

@{
    ViewData["Title"] = "ChangeLogInId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Login Id</title>
</head>
<body>

    <h2>Change Login Id</h2>

    <form id="ExistingLoginId" method="post">
        <label for="ExistingLoginId">Existing Login Id:</label><br>
        <input type="ExistingLoginId" id="ExistingLoginId" name="ExistingLoginId" required><br><br>

        <label for="NewLoginId">New Login Id:</label><br>
        <input type="NewLoginId" id="NewLoginId" name="NewLoginId" required><br><br>

        <input type="submit" value="Update">
    </form>
</body>
</html>
